@import "bootstrap";
@import "bootstrap-icons";
#contenido_principal{
    margin-top: 20px;
    padding-bottom: 20px;
}

#card_tabla {
    margin-top: 15px;
}
#nombre_tabla{
    text-align: center
}
#form{
    margin-top: 10px;
}

.card{
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
}

